body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    transition: transform 0.1s;
    height: 70%;
  }
  